@import '~@angular/material/theming';

@include mat-core();

@import 'qx-theme.scss';

.my-theme {

  @include angular-material-theme($my-theme);
}


.btn-left {
  font-size: 14pt;
}

.btn-center {
  font-size: 14pt;
}

.btn-right {
  font-size: 14pt;
}


.mainContainer {
  font-size: 14pt;
  min-width: 980px;

  li {
    padding-top: 5px;
  }

}

.mat-radio-label {
  white-space: normal !important;
}
